* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
}

section {
  padding: 12px 20px;
  padding-bottom: 0;
  position: relative;
  max-width: 910px;
  margin: auto;
  margin-bottom: 8px;
}

section:nth-of-type(1n + 3) {
  min-height: 150px;
}

section h3 {
  border-bottom: 1px solid black;
}

button {
  padding: 2px 4px;
  height: fit-content;
  width: fit-content;
  border-radius: 8px;
}

button:hover {
  background-color: rgb(255, 255, 255);
}

button.addInfosBtn {
  position: absolute;
  top: 6px;
  right: 20px;
  padding: 4px 8px;
  border-radius: 100%;
}

ul.infoList {
  list-style: none;
}

li.infoListItem {
  margin: 6px 0;
  padding: 0 8px;
  gap: 2px;
}

li.infoListItem p {
  font-size: 1.2rem;
}
